
.container {
  display: flex;
  flex-direction: column;
  background-color: pink;
  position: absolute;
  padding: 20px;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
